@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: #ffffff;
}

.carousel {
  overflow: hidden;
  width: 375px;
  height: 288px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 0px 82px;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: #fff;
}

.indicators {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 99;
  bottom: 155px;
  margin-left: 16px;
  margin-right: 16px;
  z-index: 2;
}

input::placeholder {
  color: #1d2026;
  font-size: 16px;
  font-weight: 700;
}

input[type="number"] {
  color: #1d2026;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

li {
  color: #1d2026;
  font-family: Kumbh Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
  margin-top: 20px;
}

@media screen and (min-width: 1440px) {
  .carousel {
    /* display: none; */
  }

  .indicators {
    display: none;
  }

  .App {
    padding: 28px 165px 132px 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
    margin-top: 80px;
  }
}
